.el-menu-demo{
    padding:5px 10px;
    display: flex;
    align-items: center;
    gap:10px
}

.menu-list{
    display: flex;
}

.menu-item{
    font-weight: bold;
}

.menu-link{
    color: inherit;
}